@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@300;500;700;800&display=swap");

*{
    margin: 0;
    padding: 0; 
}

/*Log in*/
.containerIndex {
font-family:'Encode Sans Expanded', sans-serif;
width: 750px;
height: 100%;
}

#fondo {
background-position: center;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
width: 1600px;
}

.contenido {
position: absolute;
width: 800px;
height: 900px;
left: 0px;
top: 0px;
background: linear-gradient(180deg, #0080B6 0%, rgba(160, 207, 196, 0.53) 100%);
mix-blend-mode: normal;
}

#logo {
position: absolute;
width: 140px;
height: 140px;
left: 298px;
top: 80px;
}

.contenido h1 {
position: absolute;
width: 400px;
height: 44px;
left: 210px;
top: 240px;
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: 800;
font-size: 46px;
line-height: 62px;
color: #FFFFFF;

}

#botonGo {
position: absolute;
width: 510px;
height: 52px;
left: 120px;
top: 350px;
background: #0080B6;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

#botonGo:hover {
background-color: #015B81;
}

#botonGo a {
font-weight: bold;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
}

#botonGo img {
position: absolute;
width: 33px;
height: 34px;
left: 40px;
top: 7px;
    
}

.contenido h3 {
position: absolute;
width: 342px;
height: 26px;
left: 204px;
top: 430px;

font-style: normal;
font-weight: bold;
font-size: 19.9px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}

.contenido input {
position: absolute;
width: 510px;
height: 52px;
left: 120px;
top: 480px;
font-size: 20px;
background: #FFFFFF;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.contenido input::placeholder {
font-size: 19.9px;
line-height: 24px;
padding-left: 10px;
}

.password input{
position: absolute;
width: 510px;
height: 52px;
left: 120px;
top: 550px;
font-size:20px;
}

.password input::placeholder {
font-style: normal;
font-weight: normal;
line-height: 24px;
}

.send input {
position: absolute;
width: 510px;
height: 52px;
left: 120px;
top: 630px;
background: #0080B6;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
color: #FFFFFF;
font-style: normal;
font-weight: 300;
font-size: 24px;
text-align: center;
}

.send input:hover {
background-color: #015B81;
}
    
.extension {
position: absolute;
left: 1095px;
top: 755px;
font-weight: 300;
font-size: 10px;
line-height: 22px;
color: #FFFFFF;
}

/*Página Principal*/

.arriba {
top:0px;
float: left;
background-color: #FFE600;
}

.menu {
position: fixed;
width: 100%;
height: 152px;
left: 0px;
top: 0px;
background:linear-gradient(90deg, #0080B6 0%, #A0CFC4 100%);
}

.logo img{
position: absolute;
width: 99px;
height: 96px;
left: 41px;
top: 31px;
}

.logo h1 {
position: absolute;
width: 395px;
height: 42px;
left: 153px;
top: 50px;   
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 62px;
color: #FFFFFF;
}

.buscadorPokemon input {
position: absolute;
width: 514px;
height: 52px;
left: 955px;
top: 48px;
background-color: transparent;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 15px;
color: #FFFFFF;
font-style: bold;
font-size: 19.9px; ;
}

.buscadorPokemon input::placeholder {
padding-left: 10px;
font-style: normal;
font-weight: normal;
font-size: 19.9px;
line-height: 24px;
color: white;
}

.fondolupa button{
position: absolute;
width: 61px;
height: 48px;
left: 1406px;
top: 50px;
border: none;
  
background: #0080B6;
border-radius: 14px;
}

.fondolupa button:hover {
  background: #015B81;
  cursor: pointer; 
}

.buscadorPokemon img {
position: absolute;
width: 35px;
height: 35px;
left: 1421px;
top: 58px;
z-index: 1;
}

/*Estrella Favoritos*/
:root { /*elemento raíz de un documento*/
    --color-inactivo: #FFFFFF; /*Cuando el cursor no se encuentra sobre la estrella, esta será blanca (inactivo)*/
    --color-hover: #FFE600; /*Cuando el cursor se encuentre sobre la estrella, esta será amarilla (hover)*/
}

.valoracion {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 881px;
    top: 40px;
}

.valoracion button {
  background-color: initial;
  border: 0;
  color: var(--color-inactivo);
  transition: 1s all;
  transition: 1s all;
}

.valoracion button a {
  text-decoration: none;
  color: var(--color-inactivo);
}

.valoracion button label {
  font-size: 50px;
} 

.valoracion button:hover {
  cursor: pointer;
  color: var(--color-hover);
  transform: rotate(360deg);
  transform: rotate(360deg);
}

.valoracion button a:hover {
  color: var(--color-hover);
}

button:nth-child(1):hover ~ button { /*Cambian de color la etiqueda precedida (~) por aquella que que tiene el ratón encima (hover)*/
    color: var(--color-hover);
    transform: rotate(360deg);
}

/*Filtros*/
.filtros {
position: absolute;
width: 100%;
height: 60px;
left: 0px;
top: 150px;
background: #0080B6;
}


#generation,
#type,
#candy {
cursor: pointer;
display: inline-flex;
float: right;
margin-right: 4%;
margin-top: 12px;
border: transparent;
background-color:transparent;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
text-align: right;
color: #FFFFFF;
}

#generation:hover,
#type:hover,
#candy:hover {
background-color: #015B81;
}

/*Aside (Actualizaciones)*/
input#abrir-cerrar {
visibility:hidden;
position: absolute;
}

label[for="abrir-cerrar"] {
    position: fixed;
    cursor: pointer;
    padding: 1rem;
    background-color: #0080B6;
    color: #fff;
    display: inline-block;
    width: 20%;
    font-family: Encode Sans Semi Expanded;
    font-weight: 500;
    margin-top: 150px;
    padding-left: 60%;
    font-size: 26px;
    transform: rotate(-90deg);
    margin-left: -39%;
    margin-top: 50%;
}
.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:360px;
}

/*El selector "+" selecciona el elemento que esté inmediatamente a continuación en el marcado html*/
/*En cambio, el selector "~" selecciona el elemento que esté a continuación pero no es necesario que esté inmediatamente a continuación*/
input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:-260px;
    transition: margin-left .4s;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar { /*Contenido de Actualizaciones*/
  position: fixed;
  width: 340px;
  height:100%;
  top:200px;
  left: 0;
  z-index: 1;
  background-color: #0080B6;
  overflow-x: hidden;
  transition: 0.4s;
  padding: 1rem 0;
  box-sizing:border-box;
}

.sidebar h1 { 
position: absolute;
width: 190px;
height: 143px;
left: 26px;
top: 0px;
font-family: Encode Sans Semi Expanded;
color: rgb(255, 255, 255);
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 52px;
}

.sidebar h1 span {
color: #A0CFC4;
left: 32px;
}

.sidebar h2 {
position: absolute;
width: 190px;
height: 143px;
left: 26px;
top: 45px;
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: bold;
font-size: 28px;
color: #FFFFFF;
}

.sidebar h3 {
position: absolute;
width: 190px;
height: 143px;
left: 26px;
top: 120px;   
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: bold;
font-size: 15px;   
color: #FFFFFF;
}

.mensaje {
position: relative;
display: inline-block;
text-align: center;
}

.mensaje img {
width: 400px;
height: 360px;
margin-left: 30px;
padding-top: 180px;

}

.actualizacion1 h3 {
position: absolute;
color: white;
top:190px;
font-size: 12px;
margin-left: -50px;
font-family: Encode Sans Semi Expanded;
}

.actualizacion1 a{
position:absolute;
font-size:12px;
top: 220px;
margin-left: -160px;
margin-right: 170px;
color: #0080B6;
font-family: Encode Sans Semi Expanded;
}

.actualizacion2 h3 {
position: absolute;
color: white;
top:270px;
font-size: 12px;
margin-left: -50px;
font-family: Encode Sans Semi Expanded;
}
    
.actualizacion2 a{
position:absolute;
font-size:12px;
top: 300px;
margin-left: -170px;
margin-right: 170px;
color: #0080B6;
font-family: Encode Sans Semi Expanded;
}


/*TARJETAS*/
section {
    display: block;
}

#root {
display: flex;
justify-content:space-evenly;
flex-wrap:wrap; 
justify-content: center;
padding-bottom:10px;
padding-top: 17%;
margin-left: 70px;
}

#tarjetas {    
cursor: pointer;
float: left;
width: 175px;
height: 85px;
padding: 50px ;
background: rgba(255, 255, 255, 0.85);
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin: 20px;
background: #F1F1F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

.infoPokemon{
display: flex;
flex-flow: column wrap;
color: white;
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: 700;
font-size: 24px;
text-align: center;
width: 276px;  
height: 39px;
margin-left: -29%;
margin-top: 10px;
background: #A0CFC4;
border-radius: 0px 0px 15px 15px;
}

p {
margin-top: 2px;
}

.foto{
justify-content: center;
margin-left: 28px;
margin-top: -13%;
}


/*estrella de tarjetas*/
:root { /*elemento raíz de un documento*/
--color-inactivo: #FFFFFF; /*Cuando el cursor no se encuentra sobre la estrella, esta será blanca (inactivo)*/
--color-hover: #FFE600; /*Cuando el cursor se encuentre sobre la estrella, esta será amarilla (hover)*/
}

.starTarjeta {
display: flex;
justify-content:space-evenly;
flex-wrap:wrap; 
float: left;
}

.starTarjeta button {
background-color: initial;
border: 0;
color: var(--color-inactivo);
transition: 1s all;

}

.starTarjeta button label {
font-size: 30px; 
float: left;
margin-left: 180px;
margin-top: -50px;
cursor: pointer;
} 

.starTarjeta button:hover {
color: var(--color-hover);
}

label {
  cursor: pointer;
}

/* MODAL */
.card-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(47, 49, 47, 0.719);
  }
  
  .imgPokemon {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  color: #0080B6;
  font-family: Encode Sans Semi Expanded;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  width: 300px;
  height: 500px;
  background: #F2EDEE;
  border-radius: 30px 0px 0px 30px;
  }
  
  .modalInline {
  border: solid 2px;
  border-color: #0080B6;
  border-radius: 15px;
  padding:0 10px;
  margin-bottom: 5px;
  text-transform:uppercase;
  font-size: 16px;
  font-weight: 500;
  }
  
  .modalInlineWhite {
  border: solid 1.5px;
  border-color: #fff;
  border-radius: 15px;
  padding:0 20px;
  margin-bottom: 10px;;
  text-transform:uppercase;
  font-size: 16px;
  font-weight: 500;
  width: 90%
  }
  
  
  .imgModal{
  margin-left: 20px;;
  justify-content: center;
  height: 220px;
  width: 200px;
  padding-bottom: 15px;
    }
  
  
  .infoPokemonModal {
    display: flex;
    justify-content: left;
    align-items: baseline;
    color: white;
    font-family: Encode Sans Semi Expanded;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    text-align: left;
    width: 430px;
    height: 500px;
    background: #0080B6;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 0px 30px 30px 0px;
  }
  
  .numeroNombre {
  font-size: 32pt;
  text-transform:uppercase;
  padding-top: 25px;
  font-weight: 800;
  }
  
  .generacion {
  font-size: 20pt;
  justify-content: left;
  font-weight: 500;
  }
  
  .especificaciones {
  margin-top: 50px;
  font-size: 14pt;
  font-style: normal;
  width: 410px;
  }
  
  /* Botón cerrar Tarjeta*/
  .close {
  float: right;
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
  background: none;
  border: none;
  color: #FFFFFF;
  }
    
  .close:hover,
  .close:focus {
  color: #A0CFC4;
  text-decoration: none;
  cursor: pointer;
  }

/* Footer*/
.fondoPrincipal {
  background-color: #0080B6;
  margin-top: 80px;
}

  .footer-distributed {
    top: 500px;
    
    box-sizing: border-box;
    width: 100%;
    font: normal 16px sans-serif;
    padding: 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #ffffff;
    font-size: 12px;
    margin-left: 50px;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    color: #ffffff;
    padding: 0;
    transition: ease .25s;
  }

  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }

  .footer-distributed p.footer-links a:hover {
    color:#A0CFC4;
  }

  
  .footer-distributed .footer-links a:before {
    content: "·";
    left: 0;
    color: #fff;
    display: inline-block;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
    margin-right: 40px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-left: 50px;
    transition:all .25s;
  }

  .footer-icon {
    width: 35px;
    height: 35px;
    padding-right: -100px;
    padding-left: 50px;
  }

  .line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin-right: 40px;
    margin-left: 30px;
  }

/*FAVORITOS*/
 .menuFavoritos {
   background:linear-gradient(90deg, #8E90B9 0%, #DBA2BF 100%);
   position: fixed;
   width: 100%;
   height: 152px;
   left: 0px;
   top: 0px;
  }

 .lupa button{
  position: absolute;
  width: 61px;
  height: 48px;
  left: 1406px;
  top: 50px;
  border: none;
  background: #8E90B9;
  border-radius: 14px;
  }
    
  .lupa button:hover {
    background: #6E71A1;
    cursor: pointer; 
  }

  .filtrosFavoritos {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 150px;
    background: #8E90B9;
    }

 .fondoFavoritos {
  background: #8E90B9;
 }

.actualizacionesFavoritos label{
  background: #8E90B9;
}

.maqueta img{
  width: 94%;
  margin-top: 230px;
  margin-left: 80px;
  margin-bottom: -190px;
}
 
  /* Media Queries footer */
  
  @media (max-width: 600px) {

  }

/* SMARTPHONE */
@media screen and (max-width: 599px) and (min-width: 200px) {

  /* Página de inicio*/
    .containerIndex {
    font-family:'Encode Sans Expanded', sans-serif;
    width: 320px;
    display: flex;
    }
    
    #fondo {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    }
    
    .contenido {
    position: absolute;
    width: 400px;
    height: 900px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #0080B6 0%, rgba(160, 207, 196, 0.53) 100%);
    mix-blend-mode: normal;
    }

    /* Footer */
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center; 
    }
    .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 40px;
    }
    .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
    }
}




/* Tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
}
  
