*{
    margin: 0;
    padding: 0; 
}

/*Log in*/
.index {
background-image: url("images/backgroundLog.png");
background-position: center;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}

.contenido {
position: absolute;
width: 750px;
height: 100%;
left: 0px;
top: 0px;
background: linear-gradient(180deg, #0080B6 0%, rgba(160, 207, 196, 0.53) 100%);
mix-blend-mode: normal;
}

#logo {
position: absolute;
width: 154px;
height: 154px;
left: 298px;
top: 80px;
}

.contenido h1 {
position: absolute;
width: 311px;
height: 44px;
left: 220px;
top: 265px;
    
font-family: Encode Sans Expanded;
font-style: normal;
font-weight: bold;
font-size: 41.17px;
line-height: 51px;
    
color: #FFFFFF;
}

#botonGo {
position: absolute;
width: 510px;
height: 52px;
left: 120px;
top: 350px;
background: #0080B6;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

#botonGo:hover {
background-color: #015B81;
}

#botonGo a {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
}

#botonGo img {
position: absolute;
width: 33px;
height: 34px;
left: 40px;
top: 7px;
    
}

.contenido h3 {
position: absolute;
width: 342px;
height: 26px;
left: 204px;
top: 430px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 19.9px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}

.contenido input {
position: absolute;
cursor: pointer;
width: 510px;
height: 52px;
left: 120px;
top: 480px;

background: #FFFFFF;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.contenido input::placeholder {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 19.9px;
line-height: 24px;
}

.password input{
position: absolute;
width: 510px;
height: 52px;
left: 120px;
top: 550px;
}

.password input::placeholder {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 19.9px;
line-height: 24px;
}

.send input {
position: absolute;
width: 510px;
height: 52px;
left: 120px;
top: 630px;
background: #0080B6;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
text-align: center;
}

.send input:hover {
background-color: #015B81;
}
    


.extension {
position: absolute;
left: 1100px;
top: 715px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;

color: #FFFFFF;
}

/*Página Principal*/

.arriba {
top:0px;
float: left;
background-color: #FFE600;
}

.menu {
position: fixed;
width: 100%;
height: 152px;
left: 0px;
top: 0px;
background:linear-gradient(90deg, #0080B6 0%, #A0CFC4 100%);
}



.logo img{
position: absolute;
width: 99px;
height: 96px;
left: 41px;
top: 31px;
}

.logo h1 {
position: absolute;
width: 395px;
height: 42px;
left: 153px;
top: 50px;
    
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 62px;
    
color: #FFFFFF;
}

.buscadorPokemon input {
position: absolute;
width: 514px;
height: 52px;
left: 955px;
top: 48px;
background-color: transparent;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 15px;
}

.buscadorPokemon input::placeholder {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 19.9px;
line-height: 24px;
color: white;
}

.fondolupa button{
position: absolute;
width: 61px;
height: 48px;
left: 1406px;
top: 50px;
border: none;
  
background: #0080B6;
border-radius: 14px;
}

.fondolupa button:hover {
    background: #015B81;
    cursor: pointer; 
}

.buscadorPokemon img {
position: absolute;
width: 35px;
height: 35px;
left: 1421px;
top: 58px;
z-index: 1;
}

/*Estrella Favoritos*/
:root { /*elemento raíz de un documento*/
    --color-inactivo: #FFFFFF; /*Cuando el cursor no se encuentra sobre la estrella, esta será blanca (inactivo)*/
    --color-hover: #FFE600; /*Cuando el cursor se encuentre sobre la estrella, esta será amarilla (hover)*/
}

.valoracion {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 881px;
    top: 40px;
}

.valoracion button {
    background-color: initial;
    border: 0;
    color: var(--color-inactivo);
    transition: 1s all;
}

.valoracion button label {
    font-size: 50px;
     
} 

.valoracion button:hover {
    cursor: pointer;
    color: var(--color-hover);
    transform: rotate(360deg);
}

button:nth-child(1):hover ~ button { /*Cambian de color la etiqueda precedida (~) por aquella que que tiene el ratón encima (hover)*/
    color: var(--color-hover);
    transform: rotate(360deg);
}

/*Filtros*/
.filtros {
position: absolute;
width: 100%;
height: 60px;
left: 0px;
top: 150px;
background: #0080B6;
}


#generation,
#type,
#candy {
cursor: pointer;
display: inline-flex;
float: right;
margin-right: 4%;
margin-top: 12px;
border: transparent;
background-color: #0080B6;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
text-align: center;
color: #FFFFFF;
}

#generation:hover,
#type:hover,
#candy:hover {
background-color: #015B81;
}

/*Aside (Actualizaciones)*/
input#abrir-cerrar {
visibility:hidden;
position: absolute;
}

label[for="abrir-cerrar"] {
    position: fixed;
    cursor: pointer;
    padding: 1rem;
    background-color: #0080B6;
    color: #fff;
    display: inline-block;
    width: 20%;
    font-family: Encode Sans Semi Expanded;
    font-weight: bold;
    margin-top: 150px;
    padding-left: 60%;
    font-size: 30px;
    transform: rotate(-90deg);
    margin-left: -39%;
    margin-top: 50%;
}
.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:340px;
}

/*El selector "+" selecciona el elemento que esté inmediatamente a continuación en el marcado html*/
/*En cambio, el selector "~" selecciona el elemento que esté a continuación pero no es necesario que esté inmediatamente a continuación*/
input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:-260px;
    transition: margin-left .4s;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar { /*Contenido de Actualizaciones*/
    position: fixed;
    width: 340px;
    height:100%;
    top:200px;
    left: 0;
    z-index: 1;
    background-color: #0080B6;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar h1 { 
position: absolute;
width: 190px;
height: 143px;
left: 26px;
top: 0px;
font-family: Encode Sans Semi Expanded;
color: white;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 52px;
}

.sidebar h1 span {
color: #A0CFC4;
left: 32px;
}

.sidebar h2 {
position: absolute;
width: 190px;
height: 143px;
left: 26px;
top: 45px;
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: bold;
font-size: 28px;
color: #FFFFFF;
}

.sidebar h3 {
position: absolute;
width: 190px;
height: 143px;
left: 26px;
top: 120px;   
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: bold;
font-size: 15px;   
color: #FFFFFF;
}

.mensaje {
position: relative;
display: inline-block;
text-align: center;
}

.mensaje img {
width: 400px;
height: 360px;
margin-left: 30px;
padding-top: 180px;

}

.actualizacion1 h3 {
position: absolute;
color: white;
top:190px;
font-size: 12px;
margin-left: -50px;
font-family: montserrat;
font-style: normal;
}

.actualizacion1 a{
position:absolute;
font-size:12px;
top: 220px;
margin-left: -160px;
margin-right: 170px;
color: #0080B6;
font-family: montserrat;
font-style: normal;
}

.actualizacion2 h3 {
position: absolute;
color: white;
top:270px;
font-size: 12px;
margin-left: -50px;
font-family: montserrat;
font-style: normal;
}
    
.actualizacion2 a{
position:absolute;
font-size:12px;
top: 300px;
margin-left: -170px;
margin-right: 170px;
color: #0080B6;
font-family: montserrat;
font-style: normal;
}


/*TARJETAS*/
section {
    display: block;
}

#root {
display: flex;
justify-content:space-evenly;
flex-wrap:wrap; 
justify-content: center;
padding-bottom:5%;
padding-top: 16%;
margin-left: 70px;
}

#tarjetas {    
float: left;
width: 175px;
height: 85px;
padding: 50px ;
background: rgba(255, 255, 255, 0.85);
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin: 1% auto;
margin-left: 1%;
margin-right: 1%;
background: #F1F1F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

.infoPokemon{
display: flex;
flex-flow: column wrap;
color: white;
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: bold;
font-size: 23px;
text-align: center;
width: 276px;  
height: 39px;
margin-left: -29%;
background: #A0CFC4;
border-radius: 15px;
}

p {
margin-top: 2px;
}

.foto{
justify-content: center;
margin-left: 28px;
margin-top: -13%;
}


/*estrella de tarjetas*/
:root { /*elemento raíz de un documento*/
--color-inactivo: #FFFFFF; /*Cuando el cursor no se encuentra sobre la estrella, esta será blanca (inactivo)*/
--color-hover: #FFE600; /*Cuando el cursor se encuentre sobre la estrella, esta será amarilla (hover)*/
}

.starTarjeta {
display: flex;
justify-content:space-evenly;
flex-wrap:wrap; 
float: left;
}

.starTarjeta button {
background-color: initial;
border: 0;
color: var(--color-inactivo);
transition: 1s all;

}

.starTarjeta button label {
font-size: 30px; 
float: left;
margin-left: 180px;
margin-top: -50px;
} 

.starTarjeta button:hover {
cursor: pointer;
color: var(--color-hover);
}

/* MODAL */
.card-modal {
display: flex;
justify-content: center;
align-items: center;
position: fixed;
width: 100vw;
height: 100vh;
left: 0;
top: 0;
z-index: 1;
background: rgba(47, 49, 47, 0.719);
}

.imgPokemon {
display: flex;
flex-flow: column;
color: white;
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: bold;
font-size: 23px;
text-align: center;
width: 250px;
height: 50%;

background: #F2EDEE;
}

.imgPokemon img {
    width: 20%;
    margin-top: 0%;
}

#cards {
background: #0080B6;
width: 250px;
height: 20%;
display: flex;
flex-flow: column;
}

#letras {
padding-left: 2%;
color:#FFFFFF;
font-family: Encode Sans Semi Expanded;
font-style: normal;
font-weight: bold;
text-transform:uppercase;
}

.numeroNombre {
font-size: 28pt;
}

.generacion {
    font-size: 15pt
}

.especificaciones {
    margin-top: 50px;
    font-size: 10pt;
    margin-right: 280px;
}

/* Botón cerrar Tarjeta*/
.close {
    color: #aaaaaa;
    float: right;
    margin-left: 580px;
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #0080B6;
    text-decoration: none;
    cursor: pointer;
  }

/* Footer
section {
    width: 50%;
    display: inline-block;
    background: #ccc;
    height: 5vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }*/
  
  .footer-distributed {
    top: 500px;
    background-color: #0080B6;
    box-sizing: border-box;
    width: 100%;
    font: normal 16px sans-serif;
    padding: 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #ffffff;
    font-size: 12px;
    margin-left: 50px;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    color: #ffffff;
    padding: 0;
    transition: ease .25s;
  }

  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }

  .footer-distributed p.footer-links a:hover {
    color:#A0CFC4;
  }

  
  .footer-distributed .footer-links a:before {
    content: "·";
    left: 0;
    color: #fff;
    display: inline-block;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
    margin-right: 40px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-left: 50px;
    transition:all .25s;
  }

  .footer-icon {
    width: 35px;
    height: 35px;
    margin-right: -40px;
    padding-left: 50px;
  }

  .line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin-right: 40px;
    margin-left: 30px;
  }

  /* Media Queries footer */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 40px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }





























